# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output directory
dist/
release/

# SQLite DB and app local error logs
*.db
*.log

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
